h1 {
    align-items: center;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

#yachtpageimage {
    width: fit-content;
    height: 700px;
}

#imgyacht {
    height: 600px;
    width: 100%;
}

#divdiscover {

    background-color: grey;
    border: 5px outset grey;
}

#divyacht {
    border: 1px;
}

.greydiv {
    background-color: grey;
    border: 5px outset rgb(192, 191, 191);

}

a:link {
    text-decoration: none;
}

li {
    display: inline;
    align-content: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #32323cf2;
    box-shadow: 0, 2px 10px #4d4d59f2;
}

nav ul {
    color: antiquewhite;
    /* bulletting */
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: aliceblue;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
    position: relative;

}

nav a:hover {
    color: blue;
    border-bottom: 2px solid white;

}